# WordPress Core & Local Environment
wp-admin/
wp-includes/
wp-config.php
*.log
.htaccess

# Uploads & Large Assets
wp-content/uploads/
wp-content/upgrade/
wp-content/blogs.dir/

# Default Themes & Non-Target Plugins
wp-content/themes/twentytwenty*
wp-content/plugins/akismet/
wp-content/plugins/hello.php

# System & OS Files
.DS_Store
Thumbs.db
node_modules/
vendor/

# WordPress Root PHP Core Files
/*.php
/*.html
/*.txt
.vscode/

# WordPress Directory Guards & Content Placeholders
wp-content/index.php
wp-content/plugins/
wp-content/themes/index.php
*.zip
